* {
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
}
div.mesa{
  background-image: url(../img/mesa.jpg);
}
img.full {
    width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
html {
  background-color: black;
 }

form {
  background-color: black;
}

label {
  color: white;
}

.navbar {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
